*.nc
*.p
*.log

Manuscript/
Notes/
results/version-gaslimit-3H/
results/version-gaslimit3100-168H/
results/PyPSA-Eur-Sec-0.6.0/
scripts/.ipynb_checkpoints/
scripts/shapefiles/
.ipynb_checkpoints/
.DS_Store
results/*/benchmarks/
results/*/graphs/
results/*/logs/
results/*/maps/
results/*/postnetworks/
results/*/prenetworks/
results/*/prenetworks-brownfield/
